<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="" /> 
    <meta name="description" content="" /> 
    <title>Rate My Flight - Global, passenger created flight ratings</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" >
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" >

    {% block extra_head %}{% endblock %}
    {% include "includes/ga_code.html" %}
</head>
<body>
	<div id="wrapper">
		<div id="message">
		    <a class="close" href="#" onClick="$(this).parent().hide(); return false;">X</a>
			<h2>We need your flight data!</h2>
			<p>
			    Send a tweet with the hashtag <strong>#ratemyflight</strong> and give your 
			    flight a score out of 10. For example if you flew British 
			    Airways <strong>(BA)</strong> flight <strong>227</strong> from 
			    Sydney <strong>(SYD)</strong> to Los Angeles <strong>(LAX)</strong> 
			    and gave it a rating of <strong>8</strong> you'd tweet:
			 </p>
            <code>
                BA227 SYD LAX 8/10 I really enjoyed this flight! #ratemyflight
            </code>
		</div>
		<div id="container">
			<div id="header">
				<h1 class="logo">Rate My Flight</h1>
			</div>
			
			<ul id="nav">
			    <li class="active"><a href="{% url home %}">Home</a></li>
			    <li><a href="{% url about %}">About</a></li>
			    <li><a href="{% url api %}">API</a></li>
				<li><a href="">Rate a flight</a></li>
			</ul>
	
			{% block main %}{% endblock %}
			
			<div id="tops">
			</div>
			
		</div>
		<div id="footer">
			<p>This site powered by <a href="http://www.djangoproject.com">Django</a>, 
			produced by <a href="http://djangodash.com/teams/citrus/">Team Citrus</a> as part of
			<a href="http://djangodash.com/">Django Dash 2010</a>. 
			Follow us on twitter <a href="http://twitter.com/ratemyflight">@ratemyflight</a></p>
		</div>
		<div class="push"></div>
	</div>
	<div id="foot"></div>
</body>

</html>
