<html>

<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="" /> 
    <meta name="description" content="" /> 
    <title>Rate My Flight - global passenger created flight ratings</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_U }}img/favicon.ico" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" >

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>


    {% block extra_head %}{% endblock %}

    {% include "includes/ga_code.html" %}


</head>

<body>
    {% block main %}{% endblock %}
    
    
    
</body>

</html>
