<html>

<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="" /> 
    <meta name="description" content="" /> 
    <title>Rate My Flight - global passenger created flight ratings</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" >

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>


    {% block extra_head %}{% endblock %}


    <!-- google tracking code -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17987607-1']);
      _gaq.push(['_trackPageview']);

      (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
</head>

<body>
    {% block main %}{% endblock %}
    
    
    
</body>

</html>
