/**
    base CSS file for the website
    
**/


body {
    background: #66cbe7;
    font-family: helvetica, arial, sans serif;
    font-size: 12pt;

}


div#header {
    width: 1000px;
    margin: 0 auto;
    text-align: center;

}

header h1 {
    color: #231f20;
}

div#message {
    background: #bbb;
    text-align: left;
    -moz-box-shadow: 10px 10px 10px #231f20;
    -webkit-box-shadow: 10px 10px 10px #231f20;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #231f20;
}

div#message h2 {
    margin: 0;
    font-size: 14pt;
}

div#message p {
    font-size: 11pt;
}

div#map_holder {
    background: #fff;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    -moz-box-shadow: 10px 10px 10px #231f20;
    margin-bottom: 20px;
    position: relative;
}

div#map_canvas {
    width: 1000px;
    height: 500px;
}

div#map_data {
    width: 992px;
    padding: 4px;
    height: 20px;
    position: absolute;
    z-index: 3;
    top: 0;
    background: rgba(64, 64, 64, 0.5);
    text-align: right;
    color: #fff;
}


div#form_rater {
    display: none;
    width: 500px;
    height: 30px;
    background: #231f20;
    color: #888;
    position: absolute;
    z-index: 3;
    /**-moz-transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);**/

}

div#form_rater h2 {
    text-align: center;
}

/**div#form_rater {
    width: 500px;
    height: 40px;
    background: #fff;
    text-align: center;
    position: absolute;
    
}**/

div#form_rater h2 {
    font-size: 14pt;
    margin: 0 auto;

}
    


div#footer {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}



div#footer > p {
    font-size: 10pt;
    color: #231f20;
}

.cl {
   clear: both;
} 

