{% extends "base.html" %}


{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/map_base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
<!--script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.4.custom.min.js"></script -->

<script type="text/javascript">
    //window.onload = loadGMapScript;
    $(window).load(function() {
        loadGMapScript();
        doLayout();
    });
</script>
{% endblock %}


{% block main %}



<div id="map_holder">
	<div id="map_canvas"></div>
	<div id="map_data">Here is some map data</div>
	<div id="form_rater">
		<h2>Rate a flight</h2>
		<form method="post" class="rate">
			<table>{{ form.as_table }}</table>
			<input type="submit" />
		</form>
	</div>
</div>

<!--<div id="search_bar">
	<h2>Change the view</h2>
</div>-->
{% endblock %}
